<!DOCTYPE html>
<html>
<head>
  <title>LoginAttackReport</title>
  <%= stylesheet_link_tag    "login_attack_report/application", media: "all" %>
  <%= javascript_include_tag "login_attack_report/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
